<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="User registration form">
    <meta name="author" content="Super Mario">
    <title>Access denied · Dispatcher Assist v1.0</title>

    <th:block th:include="fragments/general.html :: headerfiles">
    </th:block>
</head>
<body class="bg-light">
<div class="container">
    <header th:insert="fragments/general.html :: header"></header>
    <div class="bd-example">

        <div class="alert alert-danger" role="alert">
            <h4 class="alert-heading">Access Denied!</h4>
            <p>Access Denied - You are not authorized to access this resource.</p>
            <hr>
            <a th:href="@{/}">Back to Home Page</a>
        </div>
    </div>
</div>
</body>
</html>
