<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout (~{::body},'index')}" lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="User registration form">
    <meta name="author" content="Super Mario">
    <title>Registration · Dispatcher Assist v1.0</title>
</head>
<body>
<br>
<div class="alert alert-success mt-5" role="alert">
    <h4 class="alert-heading">Successfully!</h4>
    <p>User registered successfully!</p>
    <hr>
    <a th:href="@{/login}">Login with new user</a>
</div>
</body>
</html>
