<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout (~{::body},'users')}" lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="User registration form">
    <meta name="author" content="Super Mario">
    <title>Users · Dispatcher Assist v1.0</title>
</head>
<body>
<br>
<div class="container mt-5">
    <div class="container">
        <tr th:each="user : ${users}">
            <div class="col py-1">
                <div class="card">
                    <div class="card-header" th:text="${user.drivers.size()} + ' driver watch'">
                        Featured
                    </div>
                    <div class="card-body">
                        <h5 class="card-title" th:text="${user.firstName} +' '+ ${user.lastName}">Card title</h5>
                        <p class="card-text"
                           th:text="${user.phoneNumber} + ' Some quick example text to build on the card title and make up the bulk of the content.'">
                            Some quick example text to build on the card title and make up the bulk of the card's
                            content.</p>
                        <a th:href="@{/user/update(id=${user.id})}" class="btn btn-primary btn-sm">Open</a>
                        <a th:href="@{/user/update(id=${user.id})}" class="btn btn-danger btn-sm">Delete</a>
                        <a th:href="@{/user/update(id=${user.id})}" class="btn btn-warning btn-sm">Add</a>
                    </div>
                </div>
            </div>
        </tr>
    </div>
</div>
</body>
</html>